<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/navbar.css}">

    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:insert="pages/navbar :: navbar"></div>

<br>
<br>
<br>
<a class="button" th:href="@{/login}"> Connexion </a>
<br>
<a class="button" th:href="@{/signin}"> Inscription </a>

</body>
</html>